<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <ul>
        <li><a href="/view-requests">View My Employee Info</a></li>
    </ul>
    
    <h3><%= result.first_name + " " + result.last_name %> </h3>
    <p>Start date: <%= result.start_date %></p>
    <p>Employee email: <%= result.emp_email %></p>

    <%- include('./partials/footer.ejs') %>
</body>
</html>